.container {
    width: 30%;
    height: 60vh;
    border: 1px solid black;
}

form {
    width: 100%;
    height: 100%;
}

.form-row {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}

.label-container {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    font-size: 1.2rem;
    user-select: none;
}

.input-container {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-container {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    padding: 0.5rem;
    width: 70%;
    outline: none;
    font-size: 1.2rem;
}

select {
    padding: 0.5rem;
    width: 40%;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
}

.form-row.submit {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="submit"] {
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.75rem;
}

input[type="submit"]:hover {
    background: rgb(0, 0, 117);
}

input[type="submit"]:disabled {
    background: gray;
}

.error-msg.disabled {
    top: -10rem;
}

.error-msg.enabled {
    top: 2rem;
}

.error-msg {
    display: block;
    position: absolute;
    background: red;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: top .2s ease-in-out;
}

.sending-msg {
    width: 100%;
    margin-top: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}